@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body,
#root {
  height: 100vh;
  margin: 0;
}

body,
input,
select,
button,
textarea {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}

a:hover {
  color: #ff8000;
}

header {
  grid-area: header;
  background-color: #ffda00;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  font-weight: bold;
  font-size: medium;
}

header a {
  color: black;
  text-decoration: none;
  margin-left: 1rem;
  margin-right: 1rem;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  background-color: #ffda00;
  color: black;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: smaller;
  padding: 0.5rem;
  margin-top: 1rem;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.main {
  flex: 3 60rem;
}

/*meals*/

.meals {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.meal {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
}
.meal p {
  font-weight: bold;
}
.button:hover {
  border: 0.1rem #808080 solid;
}
.button {
  padding: 0.5rem;
  border: 0.1rem #c0c0c0 solid;
  margin-left: 1rem;
  background-color: #ffda00;
}

/* Cart */

.cart {
  padding: 0;
  margin: 0;
  margin-left: 5px;
  display: flex;
}

.cart-header {
  padding: 1rem;
  margin: 1rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}

.cart-items {
  padding: 0;
  width: 100%;
  list-style-type: none;
}

.cart-items li {
  display: flex;
}

.cart-items li div {
  padding: 0.5rem;
}

.button-remove {
  background-color: #ff9900;
}

/* Checkout form */
.form {
  width: 100%;
}

.form-container {
  width: 100%;
  padding: 0;
  list-style-type: none;
}
.form-container li {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.input {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
}

.submitOrderButton {
  padding: 0.5rem;
  border: 0.1rem #c0c0c0 solid;
  background-color: #ffda00;
}

/* Order Details */

.order-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.order-details li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-details li div {
  padding: 10px;
}

.order-details .items {
  text-align: right;
  padding: 0;
}

.success-message {
  color: green;
}

/* ADMIN AREA */

/* Login Form */

.loginForm {
  padding: 0;
  margin: 0;
  display: flex;
}

/* Order List */
.orders {
  width: 100%;
  padding: 10px;
}

tbody > tr:nth-child(odd) {
  background-color: #f0f0f0;
}
td {
  padding: 5px;
}
th {
  text-align: left;
}

/* Admin Home Screen */

.adminHomeScreen li {
  list-style-type: none;
}

.adminLinks {
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

/* Update Menu Screen */

.currentMenuTitle {
  margin-left: 20px;
  padding: 0;
}

.addNewMeal {
  margin-top: 20px;
  margin-left: 20px;
  padding: 0.5rem;
  border: 0.1rem #c0c0c0 solid;
  background-color: #ffda00;
}

.saveNewMeal {
  padding: 0.5rem;
  border: 0.1rem #c0c0c0 solid;
  background-color: #ffda00;
}
